* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
html,
body,
div{
    margin: 0;
    padding: 0;
}
html { 
        box-sizing: border-box;
        font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
		/* font-family: 'PT Serif',Arial,Helvetica,sans-serif; */
        line-height: 1.5;
        font-weight: 400;
        text-shadow: none;
        font-size: 112.5%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
}
body {
  -webkit-font-feature-settings: "liga" 1, "kern";
  font-feature-settings: "liga" 1, "kern";
  text-rendering: optimizeLegibility;
  color:#111;
}
dl {
  padding: 0;
}

dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4{
	text-indent: 0;
}
h1 
{
  font-size: 2.25em;
  padding: 0;
  margin: 0;
  text-indent:-1px;
  font-weight: 500;
  /* letter-spacing: -1px; */
}
.section h1,
h2, 
h3,
h4 {
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 0.75em 0;
  font-weight: 400;
  
}
h3 a,
h4 a {
	color:#111;
}
header {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
  
}
#dawid-kubiak
{
	position:relative;
    float:left;
    display: inline-block;
}

main 
{
  display: block;
}               
#page-wrap 
{
        /*position: absolute;*/
        display: block; 
        margin: 0 auto;
        width: 560px;
        word-wrap: break-word;
}

#logo
{
    margin-bottom: 20px;
}        
address { color: #EA4E35; font-style: normal;}
a { 
	color: #111;
	text-decoration: none;
	
}
a:hover { color: #111; text-decoration: none; }


p,address { color: #111; font-size: 1em; font-weight: normal; padding: 0; margin: 0;}
address { text-align: center; color: #EA4E35; font-style: normal;}

.section 
{
	padding: 0;
    /* margin-top: 0.7em; */
    /* margin: 0.75em 0; */
	margin-bottom: 1em;
}
.section .responsive
{
	width: 100%;
    height: auto;
}
.smaller
{
    font-size: 1em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.complementary
{
    margin-bottom: 1.5em;
	text-align: center;
	/* font-size: 0.9em; */
}
.complementary a, .bio a 
{
	border-bottom: #111 1px solid;
}

.complementaryTop
{
    position:relative;
    float:right;
    display: inline-block;
    white-space: nowrap;
}

.clear
{
    width:100%;
    clear: both;
}
.complementaryTop:after
{
    content: "\2191";
    padding-left: 0.25em;
}

.buttons
{/* 
	text-align:center; */
	margin-top:1em;
  /* 
  padding-top: 1.75em;
  padding-bottom: 0em; 
  font-size: 12px; */
  /* font-size: 0.9em; */
}
.buttons a
{
	display: inline-block;
	position: relative; 
	border-bottom: #111 1px solid;
	/* padding: 0 7px 0 0; */
	/*
    padding: 13px 26px;
    background-color: transparent;
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    color: #111;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    	text-transform: uppercase;
    	margin: 5px; */
}
/* .buttons a:hover
{
	background-color: #111;
	color: #fff;
} */

#menu-bar
{
	display: block;
	height: 40px;
	background-color: gray;
	width:100%;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
 
#primary{
    max-width: 650px;
    margin: 0 auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}