body {
    background-color: #000000;
}
#error {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 2px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #FFFACD;
    color: #9a8b00;
    border: 1px solid #fff59a;
}