* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
html,
body,
div{
    margin: 0;
    padding: 0;
}
html { 
        box-sizing: border-box;
        font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
        line-height: 1.5;
        font-weight: 400;
        text-shadow: none;
        font-size: 112.5%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
}
body {
  -webkit-font-feature-settings: "liga" 1, "kern";
  font-feature-settings: "liga" 1, "kern";
  text-rendering: optimizeLegibility;
  background: #ffffff;
  color:#111;
}
dl {
  padding: 0;
}

dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4{
	/* font-family: 'Questrial',Arial,Helvetica,sans-serif; */
	
	text-indent: 0;
}
h1,
h2 {
  font-size: 2.25em;
  padding: 0;
  margin: 0;
  text-indent:-1px;
  font-weight: 500;
  /* letter-spacing: -1px; */
}
h3,
h4 {
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 0.75em 0;
  font-weight: 400;
  
}
h3 a,
h4 a {
	color:#111;
}
header {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
  
}
.centered-button
{
	text-align: center;
	padding: 1.75em 0 0 0;
	margin: 0;
	
	
}
.centered-button a
{
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #2b2d32;
    padding: 15px;
    display: inline-block;
    white-space: nowrap;
	margin: 0 auto;
	color: #fff;
	background: #2b2d32;
	font-size: 0.66em;
	text-transform: uppercase;
	
}
.centered-button a:hover
{
	 color: #eee;
}
#dawid-kubiak
{
	position:relative;
    float:left;
    display: inline-block;
}

main 
{
  display: block;
}               
#page-wrap 
{
        /*position: absolute;*/
        display: block; 
        margin: 0 auto;
        width: 560px;
        word-wrap: break-word;
}

#logo
{
    margin-bottom: 20px;
}        
address { color: #EA4E35; font-style: normal;}
a { 
	color: #111;
	text-decoration: none;
	/* border-bottom: #EA4E35 2px solid; */
}
a:hover { color: #111; text-decoration: none; }


p,address { color: #111; font-size: 1em; font-weight: normal; padding: 0; margin: 0;}
address { text-align: center; color: #EA4E35; font-style: normal;}

.section 
{
	padding: 0;
    /* margin-top: 0.7em; */
    /* margin: 0.75em 0; */
	margin-bottom: 1.5em;
}
.section .responsive
{
	width: 100%;
    height: auto;

}
.smaller
{
    font-size: 1em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.complementary
{
    margin-bottom: 1.5em;
}
.complementaryTop
{
    position:relative;
    float:right;
    display: inline-block;
    white-space: nowrap;
}

.clear
{
    width:100%;
    clear: both;
}
.complementaryTop:after
{
    content: "\2191";
    padding-left: 0.25em;
}
.store-links
{
  text-align:center;
  padding-top: 1.75em;
  padding-bottom: 0em;
}
.store-links a
{
  border-bottom: none;
}
#menu-bar
{
	display: block;
	height: 40px;
	background-color: gray;
	width:100%;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
 
#primary{
    max-width: 650px;
    margin: 0 auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}