<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unity-iPhone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F7FDCA47B5A5EFEFDBEF01A82F9995766CE97014</string>
				<key>dateExpires</key>
				<string>04/11/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7U65665U6S.com.teachyourmonstertoread.wellbeing</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7U65665U6S</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7U65665U6S.com.teachyourmonstertoread.wellbeing</string>
				</array>
			</dict>
			<key>name</key>
			<string>wellbeing.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d261fff3-5372-4525-9bf1-61aae4a7f311</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.teachyourmonstertoread.wellbeing</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7U65665U6S</string>
				<key>name</key>
				<string>Teach Monster Games Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
